<div class="siteproper">

            <div class="siteproper">

                <div class="header">
    
                    <div class="sitename">
                        <b>LTC</b>
                    </div>
        
                    <div class="siteoptions">
        
                        <div class="home">
                            <button onClick="goHome()" class="homebtn"><b class="optiontext">Home</b></button>
                        </div>
                        
                        <div class="profile">
                            <button onClick="gotoProfile()" class="profilebtn"><b class="optiontext">Profile</b></button>
                        </div>
        
                        <div class="search">

                            <div class="searchbuttonimage">
                                <a href="Search.html">
                                    <img src="images/search.png" height="40px" width="40px">
                                </a>
                            </div>
        
                        </div>
        
                    </div>
    
                    <script>
    
                        function goHome(){
                            window.location.href = "/home/{{user.authorusername}}";
                        }
    
                        function gotoProfile(){
                            window.location.href = "/profile";
                        }
    
                        function updateProfile(){
                            const newAuthorName = document.getElementById("authorname-field").value;
                            const newAuthorBio = document.getElementById("authorbio-field").value;
                            const newAuthorImg = document.getElementById("authorimg-field").value;

                            const updatedProfile = {
                                authorname: newAuthorName,
                                authorbio: newAuthorBio,
                                authorimg: newAuthorImg
                            };

                            fetch("/modifyprofile", {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(updatedProfile)
                            });

                            setTimeout(function() {
                                window.location.href = "/profile";
                            }, 30);
                        }
    
                    </script>
    
    
                </div>
            <div class="body">

                <div id="profilecontainer">
                    <div id="profilepanel">
                        <div id="pagetitle">Edit Profile</div>
                        <div id="profileinfo">
                            <div id="dpcontainer">
                                <img id="profiledp" src = {{user.authorimg}}>
                                <div id="btnholder">
                                    <input type="file" accept="image/*" id="dpupload" onchange="loadFile(event)" hidden>
                                    <label for="dpupload">
                                        <div id="uploadbtn"></div>
                                    </label>
                                    <script type="text/javascript">
                                        var profiledp = document.getElementById("profiledp");
                                        var loadFile = function(event){
                                            profiledp.style.backgroundImage = "url(" + URL.createObjectURL(event.target.files[0]) +")";
                                        }
                                    </script>
                                </div>
                            </div>
                            <div id="infocontainer">
                                <div class="heading">Name</div>
                                <div id="namebox">
                                    <textarea id="authorname-field" name="dpname" class="input" maxlength="20" placeholder="{{user.authorname}}"></textarea>
                                </div>
                                <div class="heading">Bio</div>
                                <div id="biobox">
                                    <textarea id="authorbio-field" name="profilebio" class="input" maxlength="500" placeholder="{{user.authorbio}}"></textarea>
                                </div>
                                <div class="heading">Profile image path</div>
                                <div id="namebox">
                                    <textarea id="authorimg-field" name="profileimg" class="input" maxlength="100" placeholder="{{user.authorimg}}"></textarea>
                                </div>
                            </div>
                        </div>
                        <div id="footer">
                            <div id="btnholder">
                                <button id="homebtn">Back to Profile</button>
                                <script type="text/javascript">
                                    document.getElementById("homebtn").onclick = function () {
                                        location.href = "/profile";
                                    };
                                </script>
                                <button id="updatebtn" onclick = "updateProfile()">Update</button>
                            </div>
                           
                        </div>
                    </div>
                </div>

            </div>


        </div>