
        <script src="../post.js"></script>

        <div id="page-container">
            <div id="header">
                <button onclick="Home()" id="home-button" class="selected">HOME</button>
                <button onclick="Profile()" id="profile-button" class="unselected">PROFILE</button>

                <div id="searchbar-container">
                    <input type="text" class="searchbar-input" name="search-input" placeholder="Search...">
                    <button class="search-button">
                        <img src="../images/search.png">
                    </button>
                </div>  
            </div>

            <div id="content">
                <div id="post-container">
                    <div id="user-container">
                        <img class="profile-pic" src = {{post.authorid.authorimg}}>
                        <span class="username"><a href = "/userprofile/{{post.authorid.authorusername}}">{{post.authorid.authorname}}</a></span>
                        
                        {{#if isActiveuser}}
                        <button id="post-options-button">
                            <img src="../images/threedots.png">
                        </button>

                        <div id="post-options-menu">
                            <button onclick="EditPost()" id="edit-post-button">Edit</button>
                            <button id="delete-post-button">Delete</button>
                        </div>
                        {{/if}}

                    </div>

                    <div id="post-title">
                        {{post.title}}
                    </div>

                    <div id="other-post-info">
                        {{post.timestamp}}

                        {{#if post.isEdited}}
                        <span id="editedspace">•</span>
                        <span class="underlined-bold">edited</span>
                        {{/if}}
                    </div>

                    <div id="post-content-box">
                        <div id="post-content-text">
                            {{post.content}}
                        </div>
                    </div>
                    <div id="post-footer">
                        <span id="post-vote-holder">

                            <button class="comment-upvote-button">
                                <img src="../images/upvote.png">
                            </button>
                            <button class="comment-downvote-button">
                                <img src="../images/downvote.png">
                            </button>

                        </span>
                        <button onclick="NewReply({{post.id}})" id="post-reply-button">Reply</button>
                    </div>
                </div>

                <div id="comments-container">
                    
                    {{#each post.comments}}
                        <div class="comment {{#if isReply}}reply{{/if}}">
                            <div class="comment-header">
                                <img class="comment-profile-pic" src = {{authorid.authorimg}}>
                                <span class="comment-username"><a href = "/userprofile/{{authorid.authorusername}}">{{authorid.authorname}}</a></span>
                                <span class="vote-holder">

                                    {{#if isAuthor}}
                                    <button class="comment-options-button"> 
                                        <img src="../images/threedots.png">
                                    </button>

                                    <div class="comment-options-menu">
                                        <button onclick="EditReply({{id}})" class="edit-comment-button">Edit</button>
                                        <button class="delete-comment-button">Delete</button>
                                    </div>
                                    {{/if}}

                                    <button class="comment-upvote-button">
                                        <img src="../images/upvote.png">
                                    </button>
                                    <button class="comment-downvote-button">
                                        <img src="../images/downvote.png">
                                    </button>
                                    
                                </span>
                            </div>
                            <div class="comment-text">
                                {{content}}
                            </div>
                            <div class="comment-footer">
                                {{#if isEdited}}
                                <span class="comment-edited underlined-bold">edited</span>
                                {{/if}}
                                <button onclick="NewReply({{id}})" class="comment-reply-button">Reply</button>
                            </div>
                        </div>
                    {{/each}}

                </div>
            </div>
        </div>

        <script>
            function EditPost(){
                window.location.href = "/editpost/{{post.id}}";
            }

            function EditReply(id){
                window.location.href = "/editreply/" + id;
            }

            function NewReply(id){
                window.location.href = "/newreply/" + id;
            }

            function Home(){
                window.location.href = "/home/{{activeuser}}"
            }

            function Profile(){
                window.location.href = "/profile"
            }
        </script>
