
        <script src="post.js"></script>

        <div id="page-container">
            <div id="header">
                <button onclick="Home()" id="home-button" class="selected">HOME</button>
                <button onclick="Profile()" id="profile-button" class="unselected">PROFILE</button>

                <div id="searchbar-container">
                    <input type="text" class="searchbar-input" name="search-input" placeholder="Search...">
                    <button class="search-button">
                        <img src="../images/search.png">
                    </button>
                </div>  
            </div>

            <div id="content">
                <div id="post-container">
                    <div id="user-container">
                        <img class="profile-pic" src = {{post.authorimg}}>
                        <span class="username"><a href = "/userprofile/{{post.authorusername}}">{{post.authorname}}</a></span>
                        <button id="post-options-button">
                            <img src="../images/threedots.png">
                        </button>

                        <div id="post-options-menu">
                            <button onclick="EditPost()" id="edit-post-button">Edit</button>
                            <button id="delete-post-button">Delete</button>
                        </div>

                    </div>

                    <div id="post-title">
                        {{post.title}}
                    </div>

                    <div id="other-post-info">
                        {{post.timestamp}}
                        <span id="editedspace">•</span>
                        <span class="underlined-bold">{{post.isedited}}</span>
                    </div>

                    <div id="post-content-box">
                        <div id="post-content-text">
                            {{post.content}}
                        </div>
                    </div>
                    <div id="post-footer">
                        <span id="post-vote-holder">
                            <button class="comment-upvote-button">
                                <img src="../images/upvote.png">
                            </button>
                            <button class="comment-downvote-button">
                                <img src="../images/downvote.png">
                            </button>
                        </span>
                        <button onclick="NewReply()" id="post-reply-button">Reply</button>
                    </div>
                </div>

                <div id="comments-container">
                    
                    {{#each post.comments}}
                        <div class="comment {{#if isreply}}reply{{/if}}">
                            <div class="comment-header">
                                <img class="comment-profile-pic" src = {{authorimg}}>
                                <span class="comment-username"><a href = "/userprofile/{{authorusername}}">{{authorname}}</a></span>
                                <span class="vote-holder">
                                    <button class="comment-upvote-button">
                                        <img src="../images/upvote.png">
                                    </button>
                                    <button class="comment-downvote-button">
                                        <img src="../images/downvote.png">
                                    </button>
                                </span>
                            </div>
                            <div class="comment-text">
                                {{content}}
                            </div>
                            <div class="comment-footer">
                                <span class="comment-edited underlined-bold">{{isedited}}</span>
                                <button onclick="NewReply()" class="comment-reply-button">Reply</button>
                            </div>
                        </div>
                    {{/each}}

                </div>
            </div>
        </div>

        <script>
            function EditPost(){
                window.location.href = "/editpost";
            }

            function EditReply(){
                window.location.href = "/editreply";
            }

            function NewReply(){
                window.location.href = "/newreply";
            }

            function Home(){
                window.location.href = "/home/@kibbleking"
            }

            function Profile(){
                window.location.href = "/profile"
            }
        </script>
