<div class="siteproper">

            <div class="header">

                <div class="sitename">
                    <b>LTC</b>
                </div>
    
                <div class="siteoptions">
    
                    <div class="home">
                        <button onClick="goHome()" class="homebtn"><b class="optiontext">Home</b></button>
                    </div>
                    
                    <div class="profile">
                        <button onClick="gotoMyProfile()" class="profilebtn"><b class="optiontext">Profile</b></button>
                    </div>
    
                    <div class="search">

                            <div class="searchbuttonimage">
                                <a href="/search">
                                    <img src="../images/search.png" height="40px" width="40px">
                                </a>
                            </div>
        
                    </div>
    
                </div>

            </div>

            <script>

                    function goHome(){
                        window.location.href = "/home/{{activeuser}}";
                    }

                    function Login(){
                        window.location.href = "/login";
                    }

                    function Logout(){
                        window.location.href = "/";
                    }

                    function CreatePost(){
                        window.location.href = "/newpost";
                    }

                    function gotoMyProfile(){
                        window.location.href = "/profile"
                    }

                    function EditProfile(){
                        window.location.href = "/editprofile";
                    }

            </script>

            <div class="body">

                <div class="miniprofile">

                    <div class="mini">

                        <div class="dpholder">
                            <img class="display" src={{user.authorimg}}>
                        </div>

                        <div class="username">
                            <a class="postlinks" href="/profile"><b>{{user.authorusername}}</b></a>
                        </div>

                        <div class="stats">

                            <div class="numposts">
                                {{userposts.length}} <br>
                                <b>Posts</b>
                            </div>
    
                            <div class="numlikes">
                                {{likes}}<br>
                                <b>Likes</b>
                            </div>

                        </div>

                    </div>

                    <div class="mpbuttons">
                        <button onClick="CreatePost()" class="createpost"><b>Create a Post</b></button>
                    </div>

                    <div class="mpbuttons">
                        <button onClick="EditProfile()" class="editprofile"><b>Edit Profile</b></button>
                    </div>

                    <div class="mpbuttons">
                        <button onClick="Logout()" class="log"><b>Logout</b></button>
                    </div>

                </div>

                <div class="forumview">

                    <div class="filters">
                        
                        <div>
                            <button class="fil">Filter1</button>
                        </div>

                        <div>
                            <button class="fil">Filter2</button>
                        </div>

                        <div>
                            <button class="fil">Filter3</button>
                        </div>

                        <div>
                            <select name="Filters" class="fil">
                                <option value="mostpop">Most Popular</option>
                                <option value="leastpop">Least Popular</option>
                                <option value="alphaa">A-Z</option>
                                <option value="alphaz">Z-A</option>
                            </select>
                        </div>

                    </div>

                    {{#each post}}
                    <div class="post1">

                        <div class="recipephoto">
                            <img class="pic" src={{authorid.authorimg}}>
                        </div>

                        <div class="postmetadata">

                            <div class="posteruser">
                                <a class="postlinks" href="/userprofile/{{authorid.authorusername}}">{{authorid.authorusername}}</a>
                            </div>

                            <div class="forumtitle">
                                <a class="postlinks" href="/post/{{id}}"><b>{{title}}</b></a>
                            </div>

                            <div class="date">
                                <i>{{timestamp}}</i>
                            </div>

                        </div>

                        <div class="commentcount">
                            <div class="vote-count-holder-nonRegMainView {{#if likespositive}}positive{{else}}negative{{/if}}">
                                {{likecount}} likes
                            </div>
                            {{comments.length}} replies
                        </div>

                    </div>
                    {{/each}}
                    
                </div>

            </div>

        </div>
